<div class="container about-callout">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>Hello everybody! My name is Sasha Petrash!</h1><br/>
      <p class="info">Contact me via Instagram Direct or via e-mail: <span class="email">nogellos@gmail.com</span></p>
      <div class="row social-networks">
        <div class="col-md-2 offset-md-2">
          <%= link_to "https://www.instagram.com/nogellos/", class: "link" do %>
            <i class="fa fa-instagram"></i><br/>
          <% end %>
        </div>
        <div class="col-md-2 offset-md-4">
          <%= link_to "https://www.facebook.com/profile.php?id=100017149932111", class: "link" do %>
            <i class="fa fa-facebook-square"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>