<div class="container about-callout">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>Hello everybody! My name is Sasha Petrash!</h1><br/>
      <div class="row d-flex justify-content-between social-networks">
        <div class="col-md-2 text-center">
          <%= link_to "https://www.instagram.com/nogellos/", class: "link" do %>
            <i class="fa fa-instagram"></i><br/>
            <h3>@nogellos</h3>
          <% end %>
        </div>
        <div class="col-md-2 text-center">
          <i class="fa fa-facebook-square"></i>
        </div>
      </div>
    </div>
  </div>
</div>