<div class="container works-callout d-flex align-items-center justify-content-center">
  <div class="row categories-row ">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="category d-flex align-items-center justify-content-center">
        <%= link_to "Portraits", "#" %>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="category d-flex align-items-center justify-content-center">
        <%= link_to "Illustrations", "#" %>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="category d-flex align-items-center justify-content-center">
        <%= link_to "Still life and paysages", "#" %>
      </div>
    </div>
  </div>
</div>