/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'font-awesome.css';
@import 'lightbox';

// Typography styles
h1, h2, h3 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

html, body {
  height: 100%;
}

// Body background image
body {
  background: url("https://s3.amazonaws.com/nogellos-portfolio-assets/assets/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.corner-leaves {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

// Navbar styles
.navbar {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  font-weight: bold;
  color: white;
  -webkit-transition: color 200ms, text-shadow 200ms;
  -moz-transition: color 200ms, text-shadow 200ms;
  -o-transition: color 200ms, text-shadow 200ms;
  transition: color 200ms, text-shadow 200ms;
  &:hover {
    color: rgba(0, 0, 0, 1);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}

.navbar-light .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

// Home page styles
.home-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.portfolio-box {
  margin-left: 90px;
  margin-top: 115px;
  h1 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    border: 4px solid black;
  }
}

.leaves-img-works {
  position: absolute;
  margin-left: 120px;
  width: 300px;
}

.leaves-img-contact-me {
  position: absolute;
  margin-top: -115px;
  margin-left: -120px;
  transform: rotate(180deg);
  width: 400px;
}

.portrait-and-text {
  .portrait-img {
    position: relative;
    transform: rotate(20deg);
    width: 500px;
    height: 500px;
    
  }
  
  .img-text {
    top: 0;
    left: 50;
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 1s, box-shadow 1s;
    -moz-transition: opacity 1s, box-shadow 1s;
    -o-transition: opacity 1s, box-shadow 1s;
    transition: opacity 1s, box-shadow 1s;
    a {
      text-decoration: none;
      font-family: 'Caveat', cursive;
      font-size: 50px;
      color: white;
    }
    &:hover {
      opacity: 1;
      box-shadow: 15px 15px 10px rgba(0, 0, 0, .5);
    }
  }
}

.nogellos-img {
  margin-left: -100px;
  height: 400px;
}

.link {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  font-family: 'Caveat', cursive;
  font-size: 100px;
  font-weight: bold;
  color: white;
  -webkit-transition: color 200ms, text-shadow 200ms;
  -moz-transition: color 200ms, text-shadow 200ms;
  -o-transition: color 200ms, text-shadow 200ms;
  transition: color 200ms, text-shadow 200ms;
  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  }
  &.works {
    top: 75px;
    left: 120px;
    letter-spacing: 24px;
  }
  &.contact-me {
    display: inline;
    top: 20px;
    left: -180px;
  }
}

// About page styles
.about-callout {
  padding-top: 30px;
}

.social-networks {
  padding-top: 100px;
  font-size: 30px;
}

//Works page styles
.works-callout {
  height: 80%;
}

.category {
  .category-link-img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .categories-link-text {
    top: 0;
    left: 50;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 1s, box-shadow 1s;
    -moz-transition: opacity 1s, box-shadow 1s;
    -o-transition: opacity 1s, box-shadow 1s;
    transition: opacity 1s, box-shadow 1s;
    a {
      text-align: center;
      text-decoration: none;
      font-family: 'Caveat', cursive;
      font-size: 50px;
      color: white;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
      box-shadow: 15px 15px 10px rgba(0, 0, 0, .5);
    }
  }
}

//Images layout for each category

.category-callout {
  padding-top: 70px;
}

.category-name {
  font-size: 70px;  
  margin-bottom: 50px;
}

.artwork-and-text {
  .artwork {
    position: relative;
    z-index: -1;
    margin-bottom: 50px;
    width: 380px;
    height: 400px;
    object-fit: cover;
  }
  
  .artwork-text {
    position: absolute;
    top: 0;
    left: 50px;
    width: 380px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    a:hover {
      text-decoration: none;
    }
    li {
      display: block;
      font-family: 'Caveat', cursive;
      color: white;
      &.artwork-title {
        font-size: 50px;
      }
      &.artwork-description {
        font-size: 30px;
      }
      &.artwork-year {
        font-size: 30px;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  
  hr {
    border: 0;
    height: 1px;
    background: rgba(255,255,255,0);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    width: 230px;
  }
}

.top-tape, .bottom-tape {
  position: absolute;
  width: 100px;
}

.top-tape {
  top: 5px;
  left: 15px;
  transform: rotate(135deg);
}

.bottom-tape {
  bottom: 55px;
  right: 14px;
  transform: rotate(-45deg);
}
