/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'font-awesome.css';

// Typography styles
h1, h2, h3 {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
}

html, body {
  height: 100%;
}

// Body background image
body {
  background: url("https://lh3.googleusercontent.com/eu7kWW_5ToEbojcUYOPZ4g3ipql-ARKf2eFinbTODncLNy8LlFExDW6FLaZwF9uVxkYDuYEfYweXsCZBbG8cOKWRcM-2W4QPAhwFViNLd2ysUmKSAo-BdXutOR3BHzLSpiBJUhlelRD6ldKNgodNec-R2UVMWwS53DGk1MnfW2cAUwOhfw6RXd0c0gtEgk0i5zqUA1y2Rntk7njJkFt7HNEEHZzllI_s28Df9Ihpex50p4miXfww0YWhB7uEr4_uIReC239p_56OQYvMZ1KaTp4tSvlWR5NU7jZVsDV5dGh5QIBsZuasxY_mck0z-pcg8Zw5hpEHg91Fp6kLcwqrZuDH6yqd-yYEQuArz2OMPizZ0Y1_pQ7W4cZ7vj803h0JER8dtKq2tCJ-BUTZCP1BXWl1JVH7TbuIXnd_EvV_rlWpEXKQKcRT0gsvC395l_nXToJa-ARuS-qi3ZJ2gDdZosRhkfpzZsSWdHz-PQdhuT3OmU1vnoCHzSWDFpC3yh5gbBNo0XBmghhTVEcBTXSN_O6yjpQqCYA7itt4MbEhK00cX3LcSfwIx5N0Zia__zZTdTU4v_8XF9WYLTCVbS4EE1ON4pYmyCuizuRvkenhBFV_OoFfeP4Qw9dr2q9YGl0=w1269-h910-no") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.corner-leaves {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

// Navbar styles
.navbar {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  font-weight: bold;
  color: white;
  -webkit-transition: color 200ms, text-shadow 200ms;
  -moz-transition: color 200ms, text-shadow 200ms;
  -o-transition: color 200ms, text-shadow 200ms;
  transition: color 200ms, text-shadow 200ms;
  &:hover {
    color: rgba(0, 0, 0, 1);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}

.navbar-light .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 1);
}

// Home page styles
.home-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.portfolio-box {
  margin-left: 90px;
  margin-top: 115px;
  h1 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    border: 4px solid black;
  }
}

.leaves-img-works {
  position: absolute;
  margin-left: 120px;
  width: 300px;
}

.leaves-img-contact-me {
  position: absolute;
  margin-top: -115px;
  margin-left: -120px;
  transform: rotate(180deg);
  width: 400px;
}
.portrait-and-text {
  .portrait-img {
    position: relative;
    transform: rotate(20deg);
    width: 500px;
    height: 500px;
    
  }
  
  .img-text {
    top: 0;
    left: 50;
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 1s, box-shadow 1s;
    -moz-transition: opacity 1s, box-shadow 1s;
    -o-transition: opacity 1s, box-shadow 1s;
    transition: opacity 1s, box-shadow 1s;
    a {
      text-decoration: none;
      font-family: 'Indie Flower', cursive;
      font-size: 50px;
      color: white;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
      box-shadow: 15px 15px 10px rgba(0, 0, 0, .5);
    }
  }
}

.nogellos-img {
  margin-left: -100px;
  height: 400px;
}

.link {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
  font-weight: bold;
  color: white;
  -webkit-transition: color 200ms, text-shadow 200ms;
  -moz-transition: color 200ms, text-shadow 200ms;
  -o-transition: color 200ms, text-shadow 200ms;
  transition: color 200ms, text-shadow 200ms;
  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  }
  &.works {
    top: 75px;
    left: 120px;
    letter-spacing: 24px;
  }
  &.contact-me {
    display: inline;
    top: 20px;
    left: -180px;
  }
}

// About page styles
.about-callout {
  padding-top: 30px;
}

.social-networks {
  padding-top: 100px;
  font-size: 30px;
}

//Works page styles
.works-callout {
  height: 80%;
}

.category {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow 1s;
  -moz-transition: box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
  a {
    text-align: center;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  &:hover {
    box-shadow: 15px 15px 10px rgba(0, 0, 0, .5);
  }
}