<div class="container-fluid category-callout">
  <h1 class="category-name text-center"><%= Category.find(@images.first.category_id).name %></h1>
  <div class="row">
      <% @images.each do |image| %>
        <div class="col-md-4 text-center">
          <%= image_tag(image.image.url, class: 'artwork') %>
        </div>
      <% end %>
  </div>
</div>